body{ font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9c4040;
}
.container {
    background: rgb(205, 255, 229);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
ul {
    list-style-type: none;
    padding: 0;
    background-color: rgb(245, 187, 236);
    border-radius: 20px;
}
li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 5px solid #7edecd;
    border-radius: 20px;
}
.completed {
    text-decoration: line-through;
    color: rgb(130, 130, 130);
}